<div class="container justified">
    <h1 class="header-item">FoodAuctionner</h1>
    <div class="logo"> </div> 
    <h2 class="centered">Description : Food Auctionner est une plateforme où vous pouvez vendre aux enchères la nourriture que vous ne consommerez pas.</h2>
    <style>
        img {
          border-radius: 50%;
          width: 150px;
        }
    </style>
    <img src='https://image.shutterstock.com/image-vector/creative-auction-logo-you-can-260nw-1095315374.jpg' alt='image'>
    <div class = "centered">
        <p>Ne gachez pas le précieux contenu de votre réfrigérateur !</p>
        <p>Bienvenue</p>
    </div>
    <div class="justified">
        <button class = "button" mat-flat-button color="primary" routerLink="/register">Créer un compte</button>
        <button class="button" mat-flat-button color="primary" routerLink="/login">Se connecter</button>
    </div>
</div>
<!-- <button type="button" class="btn" (click)="changementDePage();">Autre bouton</button> -->


