<div class="container justified">
    <h1 class="header-item">HOME PAGE</h1>
    
    <h2 class="centered">Description : Food Auctionner is a free platform where you can participate in food related auctions</h2>

    <div class = "centered">
        <p>Where to find articles you ask? In your fridge!</p>
        <p>Welcome</p>
    </div>
    <div class="justified">
        <button class = "button" mat-flat-button color="primary" routerLink="/register">Register account</button>
        <button class="button" mat-flat-button color="primary" routerLink="/login">Log In</button>
    </div>
</div>
<!-- <button type="button" class="btn" (click)="changementDePage();">Autre bouton</button> -->

